<!DOCTYPE html>
<html>
  <head>
    <title>Bugger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <aside>
    	<%= link_to "Projects", "/projects" %>
    	<%= link_to "Add bug", "/bugs/new" %>
    </aside>

    <%= yield %>
  </body>
</html>
